<div>
	<div class="well well-large" style="margin: 0 15%;">
	Parametros del Algoritmo ABC
	<div class="well row">		
		<div class="col-sm-4">
			<label>Factor A</label>
			<div id="factorA" class="input-group number-spinner">
				<span class="input-group-btn data-dwn">
					<button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
				</span>
				<input type="text" class="form-control text-center" value="{{.parametros.FactorA}}" min="1" max="40">
				<span class="input-group-btn data-up">
					<button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
				</span>
			</div>
			<label>Factor B</label>
			<div id="factorB" class="input-group number-spinner">
				<span class="input-group-btn data-dwn">
					<button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
				</span>
				<input type="text" class="form-control text-center" value="{{.parametros.FactorB}}" min="1" max="40">
				<span class="input-group-btn data-up">
					<button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
				</span>
			</div>
			<label>Factor C</label>
			<div id="factorC" class="input-group number-spinner">
				<span class="input-group-btn data-dwn">
					<button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
				</span>
				<input type="text" class="form-control text-center" value="{{.parametros.FactorC}}" min="1" max="40">
				<span class="input-group-btn data-up">
					<button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
				</span>
			</div>
		</div>	
		<ul class="list-group col-sm-4">
			<div class="popup">
	    	<span class="popuptext" id="popupPorcentajesABC">Pop Up!</span>
	    </div>
		  <li class="list-group-item">
		  	Porcentaje de A
		    <span class="badge ABC">
		    <span id="restarA" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span id="porcentajeA">{{.parametros.PorcentajeA}}%</span>
				<span id="sumarA" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    </span>		    
		  </li>
		  <li class="list-group-item">
		    <span class="badge ABC">
		    <span id="restarB" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span id="porcentajeB">{{.parametros.PorcentajeB}}%</span>
				<span id="sumarB" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    </span>
		    Porcentaje de B
		  </li>
		  <li class="list-group-item">
		    <span class="badge ABC">
		    <span id="restarC" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span id="porcentajeC">{{.parametros.PorcentajeC}}%</span>
				<span id="sumarC" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    </span>
		    Porcentaje de C
		  </li>
		</ul>
		<div>
			<div class="col-sm-4	">
				<label>Multiplicador Frecuencia y Promedio</label>
				<div>
					<input id="multiplicadorFRP" type="number" class="form-control text-center" value="{{.parametros.MultiplicadorFRP}}" min=0.001>
				</div>
				<label>Multiplicador Suma tiquets</label>
				<div>
					<input id="multiplicadorST" type="number" class="form-control text-center" value="{{.parametros.MultiplicadorST}}" min=0.001 >
				</div>
				<label>Multiplicador Ventas</label>
				<div >
					<input id="multiplicadorSV" type="number" class="form-control text-center" value="{{.parametros.MultiplicadorSV}}" min=0.001 >
				</div>
			</div>
		</div>
	</div>
	<button id="btn-enviar" type="button" class="btn btn-labeled btn-primary" style="margin-left: 40%"> 
    <span class="btn-label"><i class="glyphicon glyphicon-th-list"></i></span>Guardar Cambios
   </button>
	</div>
</div>

<script src="/static/js/config.js"></script>