<div class="container">
  <div class="jumbotron">
    <h1>Clasificador ABC v1.0</h1>      
    <p>Sistema de Puntuacion y Categorizacion de productos.</p>
    <small>Desarrollado por Kore Ingenieria 2017</small>
  </div>
	<div class="login-container">
    <div class="avatar">
      <img src="/static/images/kore.png" alt="">
    </div>
    <div class="form-box">
      <form action="/ClasificadorABC?pagina=1" method="GET">
        <input name="user" type="text" placeholder="Usuario">
        <input type="password" placeholder="Clave de acceso">
        <a href="/ClasificadorABC?pagina=1" class="btn btn-info btn-block login">Login</a>
      </form>
    </div>
  </div>
</div>
