<div>
  {{if .ContenidoPagina.Mensaje.Tiene}}
  <div class="alert alert-{{.ContenidoPagina.Mensaje.Tipo}} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="false">&times;</span></button>
    <strong>{{.ContenidoPagina.Mensaje.Tipo}}!</strong> {{.ContenidoPagina.Mensaje.Mensaje}}
  </div>
  {{end}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="container" style="text-align: center">
        <div class="miwell well well-sm" style="width: 70%; margin-left: 5%">
          <div class="row">
            <div class="col-sm-4">
              <label >Fecha inicial: </label> 
              <input id="fechaInicio" type="date" min="{{.ContenidoPagina.Contenido.Fechas.FechaMin}}" max="{{.ContenidoPagina.Contenido.Fechas.FechaMax}}" value="{{.ContenidoPagina.Contenido.Fechas.FechaMinActual}}">
              <br><small id="fechaMin">{{.ContenidoPagina.Contenido.Fechas.FechaMin}}</small>
            </div>
            <div class="col-sm-4">
              <label >Fecha final: </label> 
              <input id="fechaFinal" type="date" min="{{.ContenidoPagina.Contenido.Fechas.FechaMin}}" max="{{.ContenidoPagina.Contenido.Fechas.FechaMax}}" value="{{.ContenidoPagina.Contenido.Fechas.FechaMaxActual}}">
              <br><small id="fechaMin">{{.ContenidoPagina.Contenido.Fechas.FechaMax}}</small>
            </div>
            <div class="col-sm-4">
              <div class="btn-group">
                <button type="button" class="btn btn-primary">Almacenes</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">                
                  {{range .ContenidoPagina.Contenido.Almacenes}}
                  <li><a>
                    <input class="almacen" type="checkbox" autocomplete="off" value="{{.Almacen}}" onchange="clickAlmacenes()" {{if .Seleccionado}}checked="true"{{end}}>
                    ({{.Almacen}}) {{.NombreAlmacen}}
                  </a></li>
                  {{end}}                
                </ul>
              </div>
            </div>
            <div class="col-sm-12">
              <label>Consideraciones del algoritmo</label><br>
              <label class="checkbox-inline">
              <input class="consideraciones" type="checkbox" value="FRP" {{if .ContenidoPagina.Contenido.Consideraciones.FRP}}checked="true"{{end}} onchange="cambiarConsideraciones()">Frecuencia y promedio</label>
              <label class="checkbox-inline">
              <input class="consideraciones"type="checkbox" value="ST" {{if .ContenidoPagina.Contenido.Consideraciones.ST}}checked="true"{{end}} onchange="cambiarConsideraciones()">Suma tiquets por producto</label>
              <label class="checkbox-inline">
              <input class="consideraciones" type="checkbox" value="SV" {{if .ContenidoPagina.Contenido.Consideraciones.SV}}checked="true"{{end}} onchange="cambiarConsideraciones()">Suma las ventas de productos</label>
            </div> 
          </div>  
          <a class="btn btn-default" style="float: right;" href="/ClasificadorABC?pagina=1">Recalcular</a><br>
        </div>
        <div style="position: absolute; right: 5%; top: 5%;">
          <a href="/ClasificadorABC/config" style="width: 10%;padding-top: 10%">
            <span id="iconConfig" style="font-size: 25pt;" class="glyphicon glyphicon-cog" aria-hidden="true">
            </span> <br>
            <small style="text-align: center;">              
              parametros del <br>
              algoritmo `ABC`
            </small>
          </a>
        </div>
        <div style="position: absolute; right: 5%; top: 20%;">
          <a href="/API/crearCSV" style="width: 10%;padding-top: 10%">
            <span id="iconConfig" style="font-size: 25pt;" class="glyphicon glyphicon-share-alt" aria-hidden="true">
            </span><br>
            <small>
              Exportar 
              como <br>
              CSV
            </small>
          </a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div id="previaConfig" class="alert alert-info previaConfig" style="background: #BEB9B5; color: black; margin: 0 2%">
      <strong>Parametros del Algoritmo ABC Seleccionados</strong>
        <p style="text-align: center;">
          <h5>Porcentajes ABC</h5>
          <small>%A: ({{.ContenidoPagina.Contenido.ParametrosABC.PorcentajeA}}%)</small><br>
          <small>%B: ({{.ContenidoPagina.Contenido.ParametrosABC.PorcentajeB}}%)</small><br>
          <small>%C: ({{.ContenidoPagina.Contenido.ParametrosABC.PorcentajeC}}%)</small>
        </p>
        <p style="text-align: center;">
          <h5>Factores</h5>
          <small>De A: {{.ContenidoPagina.Contenido.ParametrosABC.FactorA}}</small><br>
          <small>De B: {{.ContenidoPagina.Contenido.ParametrosABC.FactorB}}</small><br>
          <small>De C: {{.ContenidoPagina.Contenido.ParametrosABC.FactorC}}</small>
        </p>
        <p style="text-align: center;">
          <h5>Multiplicadores</h5>
          <small>Frecuencia y Promedio: {{.ContenidoPagina.Contenido.ParametrosABC.MultiplicadorFRP}}</small><br>
          <small>Suma por Tiquets: {{.ContenidoPagina.Contenido.ParametrosABC.MultiplicadorST}}</small><br>
          <small>Suma por Ventas: {{.ContenidoPagina.Contenido.ParametrosABC.MultiplicadorSV}}</small>
        </p>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>SKU Producto</th>
            {{if .ContenidoPagina.Contenido.Consideraciones.FRP}}
            <th>Puntos<br>Frecuencia/Promedio</th>
            {{end}}
            {{if .ContenidoPagina.Contenido.Consideraciones.ST}}
            <th>Puntos Suma <br>de Tiquets</th>
            {{end}}
            {{if .ContenidoPagina.Contenido.Consideraciones.SV}}
            <th>Puntos Suma <br>ventas</th>
            {{end}}
            <th>Puntucaion Final</th>
            <th>Categoria</th>
          </tr>
        </thead>
        {{$FRP := .ContenidoPagina.Contenido.Consideraciones.FRP}}
        {{$ST := .ContenidoPagina.Contenido.Consideraciones.ST}}
        {{$SV := .ContenidoPagina.Contenido.Consideraciones.SV}}
        <tbody>
        {{range .ContenidoPagina.Contenido.TablaResultados}}
          <tr>
            <th scope="row">{{.Posicion}}</th>
            <td>{{.SKU}}</td>
            {{if $FRP}}
            <td>{{.PuntosFRP}}</td>
            {{end}}
            {{if $ST}}
            <td>{{.PuntosST}}</td>
            {{end}}
            {{if $SV}}
            <td>{{.PuntosSS}}</td>
            {{end}}
            <td>{{.Puntos}}</td>
            <td>{{.Categoria}}</td>
          </tr>
        {{end}}
        </tbody>
      </table>
    </div>
    <div class="panel-footer" style="text-align: center;">
      <div class="pagination">
        <nav aria-label="Avanzar entre paginas">
          <ul class="pager">
          {{if .ContenidoPagina.Paginacion.TienePrevio}}
            <li class="previous"><a href='/ClasificadorABC?pagina={{.ContenidoPagina.Paginacion.ValorPrevio}}'><span aria-hidden="true">Anterior</span></a></li>
          {{end}}
          {{if .ContenidoPagina.Paginacion.TieneSiguiente}}
            <li class="next"><a href='/ClasificadorABC?pagina={{.ContenidoPagina.Paginacion.ValorSiguiente}}'><span aria-hidden="true">Siguiente</span></a></li>
          {{end}}
          </ul>
        </nav>
      </div>
    </div>
  </div>  
</div>
<script src="/static/js/index.js"></script>
